body {
  background: #e6eaf0;
  padding: 10px;
  width: 100%;
}

header {
  width: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
  /*font-family: 'Fjalla One';*/
}

h3 {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

nav{
  font: monospace;
  font-family: 'Lobster', cursive;
  font-size: 15px;
  text-align: center;
}

nav > ul > li {
  display: inline;
  padding: 10px;
  margin: 5px;
}

.section_title {
  font-size: 20px;
  font-family: 'Lobster', cursive;
  text-align: left;
  padding: 10px 0 20px 0;
}

.twitter {
  padding-left: 100px;
}
