<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url("/css/theme.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/css/theme.css")%>" type="text/ruby"></script>
  <title>Makers Blog</title>
</head>

<body>
  <div>
    <a class="twitter-timeline" href="https://twitter.com/innlouvate/timelines/690229282870804480" data-widget-id="690541143684153344">Makers Blog</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</body>
</html>

<script src="<%= url("x"></script>
